<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <hr>
    <form action="http://127.0.0.1:5000/form_acc" method="post">
        <p>ID <input type="number" name="id" /></p>
        <p>NAME <input type="string" name="name"/></p>
        <p>PASSWORD <input type="password" name="pwd"/></p>
        <p>Birth Date <input type="date" name="bd"/></p>
        <p>Email <input type="email" name="email"/></p>
        <button type="submit">SEND</button>
    </form>
</body>
</html>